<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.AndroidTestApplication"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="14"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher">
        <activity
            android:name="MyActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".SimpleElementsActivity" />
        <activity android:label="@string/app_name" android:name=".NestedViewsActivity"/>
        <activity android:label="@string/app_name" android:name=".DateTimeElementsActivity"/>
        <activity android:label="@string/app_name" android:name=".ScrollListActivity"/>
        <activity android:label="@string/app_name" android:name=".SwipePageActivity"/>
        <activity android:label="@string/app_name" android:name=".DragDropActivity"/>
        <activity android:label="@string/app_name" android:name=".CurrentLocationActivity"/>
        <activity android:label="@string/app_name" android:name=".WebViewActivity"/>
    </application>
</manifest>





